<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer documento en HTML</title>
</head>
<body>
    <header>
        <div> <img src="./images/logo.svg" alt=""> </div>
        <div>Lugar para poner la Barra de busqueda</div>
      
        <div>Compra en cuotas y sin tarjetas de credito</div>
        <nav> 
            <ul>
                <li> <a href=""> Ofertas</a> </li>
                <li><a href=""> Tiendas Oficiales</a> </li>
                <li><a href=""> Vender</a> </li>
                <li><a href=""> Ayuda</a> </li>
                
            </ul>
            <ul>
                <li> <a href=""> Crea tu cuenta</a> </li>
                <li> <a href=""> Ingresa</a> </li>
                <li> <a href=""> Mis compras</a> </li>
            </ul>
        </nav>
        
    </header>
    <main>
    <section>
        <div> <img src="./images/banner.jpg" alt="" width="360"></div>
    </section>
    <section> 
        <h2>Basado en tu ultima compra</h2>
        <article> 
            <img src="./images/cafetera.jpg" alt="Cafetera Moulinex" width="360">
        <p>$6.700</p>
        <p>40% Off</p>
        <h2>Cafetera Moulinex</h2>
        
        </article>
        <article>
            <img src="./images/macbook.jpg" alt="Macbook Pro max" width="360">
        <p>$230.000</p>
        <p>20% Off</p> 
        <h2>Macbook Pro 2019</h2>
        </article>
        <article>
            <img src="./images/samsung.jpg" alt="Samsung Galaxy" width="360">
            <p>$70.500</p>
            <p>10% Off</p> 
            <h2>Samsung Galaxy S10</h2>
        </article>
        <article>
            <img src="./images/smartv.jpg" alt="Smartv" width="360">
            <p>$23.200</p>
            <p>5% Off</p> 
            <h2>SmartTv Samsung 43"</h2>
        </article>
    </section>
    <section>
        <h2>Seccion de Ofertas</h2>
    </section>
    <section>
    <article> 
        <img src="./images/cafetera.jpg" alt="Cafetera Moulinex" width="360">
    <p>$6.700</p>
    <p>40% Off</p>
    <h2>Cafetera Moulinex</h2>
    
    </article>
    <article>
        <img src="./images/macbook.jpg" alt="Macbook Pro max" width="360">
    <p>$230.000</p>
    <p>20% Off</p> 
    <h2>Macbook Pro 2019</h2>
    </article>
    <article>
        <img src="./images/samsung.jpg" alt="Samsung Galaxy" width="360">
        <p>$70.500</p>
        <p>10% Off</p> 
        <h2>Samsung Galaxy S10</h2>
    </article>
    <article>
        <img src="./images/smartv.jpg" alt="Smartv" width="360">
        <p>$23.200</p>
        <p>5% Off</p> 
        <h2>SmartTv Samsung 43"</h2>
    </article>
</section>
    </main>
    <footer>
       <section>
           <article>
        <ul>
            <li> <h3>Pagá con tarjeta o en efectivo</h3> 
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
            </p>
            </li>
            <li> <h3>Envío gratis desde $ 2.500
            </h3> 
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
                </p>
                </li>
                <li> <h3>Seguridad, de principio a fin</h3> 
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
                   </p>
                    </li>
                <li>Copyright © 1999-2020 MercadoLiebre S.R.L.
                </li>    
        </section>
         </article>
         </ul>
         </footer>
</body>

</html>