<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Mercado Liebre</title>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;700&family=Roboto:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="css/styles.css">
</head>
    </head>
    <body>
        <header class="main-header">
            <div class="logo-search">
                <div class="main-header-top-bar">
                   <a href="/#"><img src="/images/logo.svg" class="logo" ></a>
                    <div class="buscador">
                      <input type="text">
                        <div class="icono">
                            🔎
                        </div>
                    </div>

                    <h2 class="text-cuotas">
                        <i class="fas fa-hand-holding-usd"></i>
                        Comprá en cuotas y sin tarjeta de crédito
                    </h2>
                </div>
                
            </div>
            <a href="#" class="burger-menu">
                <i class="fas fa-bars"></i>
            </a>
            <nav class="menu-principal">
                <ul class="menu-izquierda">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
    
                <ul class="menu-derecha">
                    <li><a href="/register">Creá tu cuenta <i class="fas fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>

            </nav>
        </header>
        <main class="login">
            <section class="section-login">
                <form action="/" method="POST">
                    <div class="formulario">
                        <h2 class="login-titular">Ingresá</h2>
                    </div>
                    <div class="formulario">
                        <label for="user" class="relleno-formulario">Nombre de Usuari@:</label>
                        <input type="text" name="user" id="user" placeholder="Nombre de Usuari@" class="texto" minlength="4">
                    </div>
                    <div class="formulario">
                        <label for="password" class="relleno-formulario">Password:</label>
                        <input type="password" name="password" id="password" placeholder="Elegí tu contraseña" class="texto" minlength="8">
                    </div>    


                    <div class="enviar-login">
                        <input type="submit" value="Enviar" class="boton-login">
                        <input type="reset" value="Cancelar" class="boton-login"> 
                    </div>


                </form>
            </section>
        </main>
        <footer>
            <section>
              <article>
                <i id='icono-footer' class="fas fa-credit-card fa-2x"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de pago. ¡Y siempre es seguro!</p>
              </article>
              
              <article>
                <i id='icono-footer' class="fas fa-gift fa-2x"></i>
                <h4>Envío gratis desde los $ 2.500</h4>
                <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de productos. Es un beneficio de MercadoPuntos.</p>
              </article>
      
              <article>
                <i id='icono-footer' class="fas fa-user-shield fa-2x"></i>
                <h4>Seguridad, de principio a fin </h4>
                <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre prtegid@.</p>
              </article>
            </section>                
            <p id='copyright'>Copyright © 1999-2019 MercadoLiebre S.R.L</p>
          </footer>
        
    </body>
</html>