<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head'); %>
    <body>
        <%- include('./partials/header'); %>

        <section class="banner">
            <img src="images/banner.jpg" alt="Banner de ofertas">
        </section>
        <main>
            <h3>Basado en tu última visita</h3>
            <section class="last-visit">
                <div class="products">
                    <article>
                        <img src="images/cafetera.jpg" alt="Cafetera" class="product_img">
                        <div class="articulos">
                            <i class="fas fa-truck"></i>
                            <p class="price">$6.770</p>
                            <p class="discount">40% off</p>
                            <h4 class="description">Cafetera Moulinex</h4>
                        </div>
                    </article>
                    <article>
                        <img src="images/macbook.jpg" alt="MacBook" class="product_img">
                        <div class="articulos">
                            <i class="fas fa-truck"></i>
                            <p class="price">$230.000</p>
                            <p class="discount">20% off</p>
                            <h4 class="description">MacBook Pro 2019</h4>
                        </div>
                    </article>
                    <article>
                        <img src="images/samsung.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                        <div class="articulos">
                            <i class="fas fa-truck"></i>
                            <p class="price">$70.500</p>
                            <p class="discount">10% off</p>
                            <h4 class="description">Samsung Galaxy S10</h4>
                        </div>
                    </article>
                    <article>
                        <img src="images/smartv.jpg" alt="SmartTv Samsung" class="product_img">
                        <div class="articulos">
                            <i class="fas fa-truck"></i>
                            <p class="price">$23.200</p>
                            <p class="discount">5% off</p>
                            <h4 class="description">SmartTv Samsung 43"</h4>
                        </div>
                    </article>
                </div>
            </section>
            <section class="offers">
                <h3>Ofertas</h3>
                <div class="products">
                    <article>
                        <img src="images/cafetera.jpg" alt="Cafetera" class="product_img">
                        <div class="articulos">
                            <i class="fas fa-truck"></i>
                            <p class="price">$6.770</p>
                            <p class="discount">40% off</p>
                            <h4 class="description">Cafetera Moulinex</h4>
                        </div>
                    </article>
                    <article>
                        <img src="images/macbook.jpg" alt="MacBook" class="product_img">
                        <div class="articulos">
                            <i class="fas fa-truck"></i>
                            <p class="price">$230.000</p>
                            <p class="discount">20% off</p>
                            <h4 class="description">MacBook Pro 2019</h4>
                        </div>
                    </article>
                    <article>
                        <img src="images/samsung.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                        <div class="articulos">
                            <i class="fas fa-truck"></i>
                            <p class="price">$70.500</p>
                            <p class="discount">10% off</p>
                        <h4 class="description">Samsung Galaxy S10</h4>
                        </div>
                    </article>
                    <article>
                        <img src="images/smartv.jpg" alt="SmartTv Samsung" class="product_img">
                        <div class="articulos">
                            <i class="fas fa-truck"></i>
                            <p class="price">$23.200</p>
                            <p class="discount">5% off</p>
                            <h4 class="description">SmartTv Samsung 43"</h4>
                        </div>
                    </article>
                </div>  
            </section>
        </main>
        <%- include('./partials/footer'); %>
    </body>
</html>