<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head'); %>
    <body>
        <%- include('./partials/header'); %>
        <main class="registro">
            <section class="section-registro">
                
                <form action="/" method="POST" class="form-class">
                    
                    <div class="formulario">
                        <h2 class="registro-titular">Registrate</h2>
                    </div>    
                    <div class="formulario">
                        <label for="name" class="relleno-formulario">Nombre y Apellido:</label>
                        <input type="text" name="name" id="name" placeholder="Nombre y Apellido" class="texto" minlength="5">
                    </div>
                    <div class="formulario">
                        <label for="name" class="relleno-formulario">Nombre de usuario:</label>
                        <input type="text" name="user" id="user" placeholder="Nombre de usuari@" class="texto" minlength="5">
                    </div>
                    <div class="formulario">
                        <label for="name" class="relleno-formulario">E-mail:</label>
                        <input type="email" name="email" id="email" placeholder="E-mail" class="texto" minlength="8">
                    </div>
                    <div class="formulario">
                        <label for="birth_date" class="relleno-formulario">Fecha de nacimiento:</label>
                    
                        <input type="date" id="nacimiento"  name="nacimiento" class="nacimiento">
                    </div>
                    
                    <div class="formulario">
                        <label for="name" class="relleno-formulario">Dirección:</label>
                        <input type="text" name="address" id="address" placeholder="Domicilio" class="texto" minlength="5">
                    </div>
                    
                    
                    <div class="formulario">
                        <label for="Perfil">Perfil del usuario:</label>
                        <div class="perfil">
                            <label>
                            <input type="radio" name="perfil" value="comprador" id="comprador" checked>Comprador
                            </label>
                            <label>
                            <input type="radio" name="perfil" value="vendedor" id="vendedor">Vendedor
                            </label>
                        </div>
                    </div>
                    
                    <div class="formulario">
                        <label for="intereses">Categoría de interés:</label>
                            <div class="intereses">
                            <div>
                                <input type="checkbox" name="intereses" value="electro" id="electro">
                                <label for="electro">Electro</label>
                            </div>
                            <div>
                                <input type="checkbox" name="intereses" value="moda" id="moda">
                                <label for="electro">Moda</label>
                            </div>
                            <div>
                                <input type="checkbox" name="intereses" value="hogar" id="hogar">
                                <label for="electro">Hogar</label>
                            </div>
                            <div>
                                <input type="checkbox" name="intereses" value="Juguetería" id="Juguetería">
                                <label for="Juguetería">Juguetería</label>
                            </div>
                            <div>
                                <input type="checkbox" name="intereses" value="Sana" id="Sana">
                                <label for="Sana">Vida sana</label>
                            </div>
                        </div>
                    </div>
                    <div class="formulario">
                        <label for="file">Foto de usuari@:</label>
                        <input type="file" accept=".jpg" class="control">
                    </div>

                    <div class="formulario">
                        <label for="name" class="relleno-formulario">Contraseña:</label>
                        <input type="password" name="password" id="password" placeholder="Elegí tu contraseña" class="texto" minlength="8" >


                    </div>
                    <div class="formulario">
                        <label for="name" class="relleno-formulario">Confirmá Contraseña:</label>
                        <input type="confirmacion" name="confirmacion" id = "confirmacion" placeholder="Confirmá tu contraseña" class="texto" minlength="8">
                    </div>
                    <div class="enviar-registro">
                        <input type="submit" value="Enviar" class="boton-registro"> 
                        <input type="reset" value="Borrar" class="boton-registro">
                    </div>
            </form>
        </section>
        </main>
        <%- include('./partials/footer'); %>
    </body>
</html>